<!DOCTYPE html>
<html>
  <head>
    <title>Flask Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Flask Boilerplate</h1>

    <div class="gradient" style="width: 300px; height: 20px">
      <div style="width: 16.6667%; height: 100%; background: #ffffff;"></div>
      <div style="width: 16.6667%; height: 100%; background: #ffffe0;"></div>
      <div style="width: 16.6667%; height: 100%; background: #ffd4ad;"></div>
      <div style="width: 16.6667%; height: 100%; background: #ffa77a;"></div>
      <div style="width: 16.6667%; height: 100%; background: #ff7246;"></div>
      <div style="width: 16.6667%; height: 100%; background: #ff0000;"></div>
    </div>

    <div class="map">
    	{% include 'map.html' %}
    </div>

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
