<!DOCTYPE html>
<html>
  <head>
    <title>Emergent</title>
    <link rel="stylesheet" href="lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <aside class="sidebar-left">
      <h1 class="ui header">Emergent</h1>
      <h4 class="ui header">Deep Learning for Treatment Center Deployment</h4>

      <div class="ui vertical list">
        <div class="item">
          <i class="emergency icon"></i>
          <div class="content">
            <div class="ui sub header">Treatment Centers</div>
          </div>
        </div>
        <div class="item">
          <i class="bar chart icon"></i>
          <div class="content">
            <div class="ui sub header">Outbreak Effect</div>
          </div>
          <div id="outbreak-effect-chart"></div>
        </div>
      </div>
    </aside>
    <div class="page-content">
      <div class="map">
        {% include 'map.html' %}
      </div>
    </div>
  
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="lib/highcharts.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/graph.js"></script>
  </body>
</html>
